#header.clear-float
	a(href="/")
		img#geotherm-icon(src="/style/img/geotherm-wordmark.png")
	#app-title
	#search-container.clear-float		
		input#search-bar
		#search-button Search
#map-area
#map-buttons-container.clear-float
	#hide-map-area.map-area-button 
		#map-show-icon
			#map-arrow.up-arrow
		span Hide Search Area
	#define-map-area.map-area-button
		div.hidden Click to Redefine Search Area...
		span Define A Search Area
	#clear-map-area.map-area-button.hidden
		span Clear Defined Search Area		
		
#sub-header
	#tools-title.hidden Availability
	#results-title Results
		span#result-count.hidden
		span#paginator.hidden
		
#details-popup.hidden
#main-container
	#left-sidebar.left-sidebar 
	#all-results
		#refresher.hidden
			span Performing Search...
		dl#results.results


